 
  <h3 class="header center blue-text"><strong></strong>Myanmar Human Rights<strong></strong></h3>
 
   
 
   <center>
  <a data-target="modal1"  class="center waves-effect header s6 center blue darken-3 waves-blue btn-large modal-trigger">About App</a><br><br>
  <a href="https://play.google.com/store/apps/details?id=com.myanmarhumanrights" class="waves-effect header s6 center blue darken-3 waves-blue btn-large">Download</a>
  </center>

 


<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>About MyanmarHumanrights App</h4>
      <p>The purpose of MyanmarHumanrights App is to share the knowledge releated with humanrights  to the people of Myanmar.

      Because most of myanmar people from capital and remote areas doesn't know about the humanrights and they didn't even know that they were violated in terms of several humanrights article.

      And they also dare to tell their problem because of threaten situations.

      Currently we are working on the Secure Submission Platform for the people of Myanmar who dare to say their stories.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#about" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
  <script>
   $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  

  </script>