

	
	
	<div class="row">
		<div ng-repeat="article in article_list">
	<!-- Repeat here -->
        <div class="col s12 ">
          <div class="card ">
            <div class="card-content black-text">
              <span class="card-title black-text">အပိုဒ်{{article.title}}</span>
              <p>{{article.description}}</p>
            </div>
            <div class="card-action">
              <a href="#detail?id={{article.id}}">Details</a>
              
            </div>
          </div>
        </div>
        </div>

      </div>
		









