<br><br>
      <h1 class="header center blue-text"><strong>&quot;</strong>သွေးသည်အသက်<strong>&quot;</strong></h1>
      <div class="row center">
        <h5 class="header col s12 light blue-text">သင်လိုသောသွေးအမျိုးအစားကိုနှိပ်၍ ရှာပါ</h5> 
        <div class="input-field col s12">
          
<a class="waves-effect blue darken-3 waves-blue btn-large"><i class="material-icons left">invert_colors</i>'A' သွေး</a>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'B' သွေး</a>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'AB' သွေး</a>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'O' သွေး</a>
          
          
        </div>
      </div>
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
       <div class="input-field col s6">
          
          
        </div>
      </div>
      <br><br>