<br><br>
      <h1 class="header center blue-text"><strong>&quot;</strong>သွေးသည်အသက်<strong>&quot;</strong></h1>
      <div class="row center">
        <h5 class="header col s12 light blue-text">သင်လိုသောသွေးအမျိုးအစားကိုနှိပ်၍ ရှာပါ</h5> 
        <div class="input-field col s12">
          
<button data-target="modal1"  class="waves-effect blue darken-3 waves-blue btn-large modal-trigger"><i class="material-icons left">invert_colors</i>'A' သွေး</button>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'B' သွေး</a>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'AB' သွေး</a>
<a class="waves-effect blue darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'O' သွေး</a>


  <!-- Modal Structure -->
  
   
          
        </div>
      </div>
       <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#articles" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  

  </script>
